<?xml version="1.0"?>
<!--
/**
 * Tweakwise & Emico (https://www.tweakwise.com/ & https://www.emico.nl/) - All Rights Reserved
 *
 * @copyright Copyright (c) 2017-2017 Tweakwise.com B.V. (https://www.tweakwise.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="emicoTweakwiseExportCommand" xsi:type="object">Emico\TweakwiseExport\Console\Command\ExportCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Emico\TweakwiseExport\Model\Export">
        <arguments>
            <argument name="validator" xsi:type="object">Emico\TweakwiseExport\Model\Validate\Validator\Proxy</argument>
            <argument name="writer" xsi:type="object">Emico\TweakwiseExport\Model\Write\Writer\Proxy</argument>
        </arguments>
    </type>

    <type name="Emico\TweakwiseExport\Console\Command\ExportCommand">
        <arguments>
            <argument name="validator" xsi:type="object">Emico\TweakwiseExport\Model\Validate\Validator\Proxy</argument>
            <argument name="export" xsi:type="object">Emico\TweakwiseExport\Model\Export\Proxy</argument>
        </arguments>
    </type>

    <type name="Emico\TweakwiseExport\Model\Write\Writer">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManager\Proxy</argument>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="writers" xsi:type="array">
                <item name="categories" xsi:type="object">Emico\TweakwiseExport\Model\Write\Categories</item>
                <item name="products" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products</item>
            </argument>
        </arguments>
    </type>

    <type name="Emico\TweakwiseExport\Model\Write\Categories\Iterator">
        <arguments>
            <argument name="eavConfig" xsi:type="object">Magento\Eav\Model\Config</argument>
            <argument name="attributes" xsi:type="array">
                <item name="parent_id" xsi:type="string">parent_id</item>
                <item name="name" xsi:type="string">name</item>
                <item name="path" xsi:type="string">path</item>
                <item name="level" xsi:type="string">level</item>
                <item name="position" xsi:type="string">position</item>
                <item name="is_active" xsi:type="string">is_active</item>
            </argument>
        </arguments>
    </type>

    <type name="Emico\TweakwiseExport\Model\Write\Products\Iterator">
        <arguments>
            <argument name="helper" xsi:type="object">Emico\TweakwiseExport\Model\Helper</argument>
            <argument name="eavConfig" xsi:type="object">Magento\Eav\Model\Config</argument>
            <argument name="dbContext" xsi:type="object">Magento\Framework\Model\ResourceModel\Db\Context</argument>
            <argument name="entityFactory" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\ExportEntityFactory</argument>
            <argument name="collectionFactory" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\CollectionFactory</argument>
            <argument name="collectionDecorators" xsi:type="array">
                <item name="children" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\CollectionDecorator\Children</item>
                <item name="stock_data" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\CollectionDecorator\StockData</item>
                <item name="children_attributes" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\CollectionDecorator\ChildrenAttributes</item>
                <item name="attribute_values" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\CollectionDecorator\AttributeValues</item>
                <item name="category_reference" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\CollectionDecorator\CategoryReference</item>
                <item name="price" xsi:type="object">Emico\TweakwiseExport\Model\Write\Products\CollectionDecorator\Price</item>
            </argument>
        </arguments>
    </type>
</config>
