<?xml version="1.0"?>
<!--
/**
 * Tweakwise & Emico (https://www.tweakwise.com/ & https://www.emico.nl/) - All Rights Reserved
 *
 * @copyright Copyright (c) 2017-2017 Tweakwise.com B.V. (https://www.tweakwise.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tweakwise>
            <export>
                <enabled>0</enabled>
                <schedule>0 3 * * *</schedule>
                <archive/>
                <validate>0</validate>
                <real_time>0</real_time>
                <api_import_url/>
                <feed_key/>
                <stock_calculation>sum</stock_calculation>
                <out_of_stock_children>1</out_of_stock_children>
                <exclude_child_attributes>url_key,small_image,small_image_label,thumbnail_label,status,tax_class_id,type_id,required_options,visibility</exclude_child_attributes>
                <price_field>min_price,final_price,price,max_price</price_field>
                <batch_size_categories>5000</batch_size_categories>
                <batch_size_products>5000</batch_size_products>
                <batch_size_products_children>5000</batch_size_products_children>
            </export>
        </tweakwise>
    </default>
</config>
